USE [master]
GO
/****** Object:  Database [GSB_gesAMM]    Script Date: 17/12/2020 15:18:58 ******/
CREATE DATABASE [GSB_gesAMM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GSB_gesAMM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GSB_gesAMM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GSB_gesAMM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GSB_gesAMM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GSB_gesAMM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GSB_gesAMM]
GO
/****** Object:  Table [dbo].[Decision]    Script Date: 17/12/2020 15:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Decision](
	[DCS_id] [int] NOT NULL,
	[DCS_libelle] [char](50) NOT NULL,
 CONSTRAINT [PK_Decision] PRIMARY KEY CLUSTERED 
(
	[DCS_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etape]    Script Date: 17/12/2020 15:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etape](
	[ETP_num] [int] NOT NULL,
	[ETP_libelle] [char](50) NOT NULL,
	[ETP_dateNorme] [date] NULL,
	[ETP_norme] [nchar](30) NULL,
	[ETP_dernier_user] [int] NULL,
 CONSTRAINT [PK_Etape] PRIMARY KEY CLUSTERED 
(
	[ETP_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Famille]    Script Date: 17/12/2020 15:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Famille](
	[FAM_code] [nchar](50) NOT NULL,
	[FAM_libelle] [char](255) NOT NULL,
	[FAM_nbMediAmm] [int] NOT NULL,
 CONSTRAINT [PK_Famille] PRIMARY KEY CLUSTERED 
(
	[FAM_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historique]    Script Date: 17/12/2020 15:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historique](
	[numero] [int] NOT NULL,
	[dateMaj] [date] NULL,
	[idUtilisateur] [int] NULL,
	[numEtape] [int] NULL,
	[normeBeforeChange] [nvarchar](20) NULL,
	[dateNormeBeforeChange] [date] NULL,
	[normeAfterChange] [nvarchar](20) NULL,
	[dateNormeAfterChange] [date] NULL,
 CONSTRAINT [PK_Historique] PRIMARY KEY CLUSTERED 
(
	[numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicament]    Script Date: 17/12/2020 15:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicament](
	[MED_depotLegal] [nchar](50) NOT NULL,
	[MED_nomCommercial] [nchar](50) NOT NULL,
	[MED_composition] [nchar](255) NOT NULL,
	[MED_effets] [nchar](255) NOT NULL,
	[MED_contreIndications] [nchar](255) NOT NULL,
	[MED_amm] [nchar](50) NULL,
	[MEDderniereEtape] [int] NULL,
	[MED_codeFamille] [nchar](50) NULL,
 CONSTRAINT [PK_Medicament] PRIMARY KEY CLUSTERED 
(
	[MED_depotLegal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subir]    Script Date: 17/12/2020 15:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subir](
	[SUB_dateDecision] [datetime] NOT NULL,
	[SUB_numEtape] [int] NOT NULL,
	[SUB_idDecision] [int] NOT NULL,
	[SUB_codeDepotLegal] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Subir] PRIMARY KEY CLUSTERED 
(
	[SUB_numEtape] ASC,
	[SUB_codeDepotLegal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilisateur]    Script Date: 17/12/2020 15:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilisateur](
	[id] [int] NOT NULL,
	[login] [varchar](20) NULL,
	[mdp] [varchar](100) NULL,
 CONSTRAINT [PK_Utilisateur] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Decision] ([DCS_id], [DCS_libelle]) VALUES (1, N'validee                                           ')
INSERT [dbo].[Decision] ([DCS_id], [DCS_libelle]) VALUES (2, N'refusee                                           ')
GO
INSERT [dbo].[Etape] ([ETP_num], [ETP_libelle], [ETP_dateNorme], [ETP_norme], [ETP_dernier_user]) VALUES (1, N'Definition du protocole de validation             ', NULL, NULL, NULL)
INSERT [dbo].[Etape] ([ETP_num], [ETP_libelle], [ETP_dateNorme], [ETP_norme], [ETP_dernier_user]) VALUES (2, N'Pharmacologie experimentale                       ', NULL, NULL, NULL)
INSERT [dbo].[Etape] ([ETP_num], [ETP_libelle], [ETP_dateNorme], [ETP_norme], [ETP_dernier_user]) VALUES (3, N'Toxicologie                                       ', CAST(N'2004-05-12' AS Date), N'726/2004/CEE                  ', NULL)
GO
INSERT [dbo].[Famille] ([FAM_code], [FAM_libelle], [FAM_nbMediAmm]) VALUES (N'AA                                                ', N'Antalgiques en association                                                                                                                                                                                                                                     ', 0)
INSERT [dbo].[Famille] ([FAM_code], [FAM_libelle], [FAM_nbMediAmm]) VALUES (N'AAA                                               ', N'Antalgiques antipyretiques en association                                                                                                                                                                                                                      ', 0)
INSERT [dbo].[Famille] ([FAM_code], [FAM_libelle], [FAM_nbMediAmm]) VALUES (N'AAC                                               ', N'Antidepresseur d’action centrale                                                                                                                                                                                                                               ', 0)
GO
INSERT [dbo].[Historique] ([numero], [dateMaj], [idUtilisateur], [numEtape], [normeBeforeChange], [dateNormeBeforeChange], [normeAfterChange], [dateNormeAfterChange]) VALUES (1, CAST(N'2020-12-17' AS Date), 1, 7, NULL, CAST(N'2005-04-30' AS Date), N'665/2005/CEE        ', CAST(N'2009-03-15' AS Date))
GO
INSERT [dbo].[Subir] ([SUB_dateDecision], [SUB_numEtape], [SUB_idDecision], [SUB_codeDepotLegal]) VALUES (CAST(N'2020-12-15T16:20:28.667' AS DateTime), 1, 1, N'3MYC7                                             ')
INSERT [dbo].[Subir] ([SUB_dateDecision], [SUB_numEtape], [SUB_idDecision], [SUB_codeDepotLegal]) VALUES (CAST(N'2020-12-15T16:21:43.390' AS DateTime), 1, 1, N'ADIMOL9                                           ')
INSERT [dbo].[Subir] ([SUB_dateDecision], [SUB_numEtape], [SUB_idDecision], [SUB_codeDepotLegal]) VALUES (CAST(N'2020-12-15T16:21:43.390' AS DateTime), 2, 1, N'3MYC7                                             ')
GO
INSERT [dbo].[Utilisateur] ([id], [login], [mdp]) VALUES (1, N'aaa', N'mdp')
INSERT [dbo].[Utilisateur] ([id], [login], [mdp]) VALUES (2, N'bbb', N'mdp')
INSERT [dbo].[Utilisateur] ([id], [login], [mdp]) VALUES (3, N'ccc', N'mdp')
GO
ALTER TABLE [dbo].[Historique]  WITH CHECK ADD  CONSTRAINT [FK_Historique_Etape] FOREIGN KEY([numEtape])
REFERENCES [dbo].[Etape] ([ETP_num])
GO
ALTER TABLE [dbo].[Historique] CHECK CONSTRAINT [FK_Historique_Etape]
GO
ALTER TABLE [dbo].[Historique]  WITH CHECK ADD  CONSTRAINT [FK_Historique_Utilisateur] FOREIGN KEY([idUtilisateur])
REFERENCES [dbo].[Utilisateur] ([id])
GO
ALTER TABLE [dbo].[Historique] CHECK CONSTRAINT [FK_Historique_Utilisateur]
GO
ALTER TABLE [dbo].[Medicament]  WITH CHECK ADD  CONSTRAINT [FK_Medicament_Famille] FOREIGN KEY([MED_codeFamille])
REFERENCES [dbo].[Famille] ([FAM_code])
GO
ALTER TABLE [dbo].[Medicament] CHECK CONSTRAINT [FK_Medicament_Famille]
GO
ALTER TABLE [dbo].[Subir]  WITH CHECK ADD  CONSTRAINT [FK_Subir_Decision] FOREIGN KEY([SUB_idDecision])
REFERENCES [dbo].[Decision] ([DCS_id])
GO
ALTER TABLE [dbo].[Subir] CHECK CONSTRAINT [FK_Subir_Decision]
GO
ALTER TABLE [dbo].[Subir]  WITH CHECK ADD  CONSTRAINT [FK_Subir_Etape] FOREIGN KEY([SUB_numEtape])
REFERENCES [dbo].[Etape] ([ETP_num])
GO
ALTER TABLE [dbo].[Subir] CHECK CONSTRAINT [FK_Subir_Etape]
GO
ALTER TABLE [dbo].[Subir]  WITH CHECK ADD  CONSTRAINT [FK_Subir_Medicament] FOREIGN KEY([SUB_codeDepotLegal])
REFERENCES [dbo].[Medicament] ([MED_depotLegal])
GO
ALTER TABLE [dbo].[Subir] CHECK CONSTRAINT [FK_Subir_Medicament]
GO
/****** Object:  StoredProcedure [dbo].[prc_maj_etapes_normee]    Script Date: 17/12/2020 15:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:        <Author,,Name>
-- Create date: <Create Date,,>
-- Description:    <Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[prc_maj_etapes_normee](@numEtape as int, @norme as nchar, @dateNorme as date, @idUser as int)
AS
BEGIN

 

    SET NOCOUNT ON;
    UPDATE Etape
    SET ETP_dateNorme = @dateNorme, ETP_norme = @norme, ETP_dernier_user = @idUser
    WHERE ETP_num = @numEtape

 

END
GO
/****** Object:  StoredProcedure [dbo].[prc_newWorkflow]    Script Date: 17/12/2020 15:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[prc_newWorkflow](@dateDeci as datetime, @numEtape as int,@idDeci as int ,@depotLegal as nchar(50))


AS
BEGIN

	SET NOCOUNT ON;

	insert into dbo.Subir values (@dateDeci,@numEtape,@idDeci,@depotLegal)

END
GO
/****** Object:  StoredProcedure [dbo].[prc_nouveau_medicament]    Script Date: 17/12/2020 15:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[prc_nouveau_medicament](@depotLegal as nchar(50), @nomCommerciale as nchar(50),@composition as nchar(255),
@effet as nchar(255), @contreIndication as nchar(255), @codeFamille as nchar(50)) 

AS
BEGIN

	SET NOCOUNT ON;

	INSERT INTO Medicament values (@depotLegal, @nomCommerciale,@composition,@effet,@contreIndication,null,null,@codeFamille)

END
GO
/****** Object:  StoredProcedure [dbo].[prc_setAMM]    Script Date: 17/12/2020 15:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[prc_setAMM](@amm as nchar(50),@depot as nchar(50))

AS
BEGIN

	SET NOCOUNT ON;
update Medicament set MED_amm = @amm where MED_depotLegal = @depot
END
GO
/****** Object:  StoredProcedure [dbo].[prc_setLastEtape]    Script Date: 17/12/2020 15:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[prc_setLastEtape](@depot as nchar(50),@etape as int)
AS
BEGIN

	SET NOCOUNT ON;

	update Medicament set MEDderniereEtape = @etape where MED_depotLegal=@depot

END
GO
/****** Object:  StoredProcedure [dbo].[prc_tous_medicaments]    Script Date: 17/12/2020 15:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

create PROCEDURE [dbo].[prc_tous_medicaments]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM [dbo].Medicament
RETURN
end

GO
/****** Object:  StoredProcedure [dbo].[prc_tous_subir]    Script Date: 17/12/2020 15:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[prc_tous_subir]
AS
	SET NOCOUNT ON;

	SELECT * FROM [dbo].Subir
RETURN
GO
/****** Object:  StoredProcedure [dbo].[prc_tout_utilisateurs]    Script Date: 17/12/2020 15:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[prc_tout_utilisateurs]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * from Utilisateur
END
GO
/****** Object:  StoredProcedure [dbo].[prc_toutes_decisions]    Script Date: 17/12/2020 15:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROCEDURE [dbo].[prc_toutes_decisions]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM [dbo].Decision
RETURN
end

GO
/****** Object:  StoredProcedure [dbo].[prc_toutes_etapes]    Script Date: 17/12/2020 15:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[prc_toutes_etapes]
AS
    SET NOCOUNT ON;
 
    SELECT * FROM [dbo].Etape
RETURN
GO
/****** Object:  StoredProcedure [dbo].[prc_toutes_familles]    Script Date: 17/12/2020 15:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[prc_toutes_familles]
AS
	SET NOCOUNT ON;

	SELECT * FROM [dbo].Famille
RETURN
GO
/****** Object:  Trigger [dbo].[trg_update_etape_history]    Script Date: 17/12/2020 15:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[trg_update_etape_history]
   ON  [dbo].[Etape]
   INSTEAD OF UPDATE
AS 
BEGIN
	SET NOCOUNT ON;

	DECLARE @norme as nchar(30)
	DECLARE @numEtape as int
	DECLARE @dateNorme as date
	DECLARE @idUser as int
	DECLARE @numero as int
	DECLARE @normeBefore as nchar(30)
	DECLARE @dateBefore as date

	SELECT @norme = ETP_norme, @numEtape = ETP_num, @dateNorme = ETP_dateNorme, @idUser = ETP_dernier_user from inserted
	SELECT @dateBefore = ETP_dateNorme, @norme = ETP_norme FROM Etape
	SELECT @numero = MAX(numero) FROM Historique

	if(@numero is null)
	BEGIN
		SET @numero = 1
	end
	ELSE
	begin
		SET @numero = @numero + 1
	END

	INSERT INTO Historique 
	VALUES (@numero,GETDATE(),@idUser,@numEtape,@normeBefore,@dateBefore,@norme,@dateNorme)

	UPDATE Etape
    SET ETP_dateNorme = @dateNorme, ETP_norme = @norme, ETP_dernier_user = @idUser
    WHERE ETP_num = @numEtape


END
GO
ALTER TABLE [dbo].[Etape] ENABLE TRIGGER [trg_update_etape_history]
GO
/****** Object:  Trigger [dbo].[trg_validAmm]    Script Date: 17/12/2020 15:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_validAmm]   ON  [dbo].[Medicament]
   AFTER UPDATE
AS 
BEGIN

	SET NOCOUNT ON;

   DECLARE @Famille as nchar(50)
   DECLARE @Amm as nchar(50)
   DECLARE @nbAMM as int

   Select @Amm = MED_amm, @Famille = MED_codeFamille from inserted   

   if (@Amm is NOT NULL) 
   BEGIN 

   Select @nbAMM = COUNT(*) from Medicament where MED_amm IS NOT NULL AND MED_codeFamille = @Famille
   UPDATE Famille SET FAM_nbMediAmm = @nbAMM  WHERE FAM_code = @Famille
   END

END
GO
ALTER TABLE [dbo].[Medicament] ENABLE TRIGGER [trg_validAmm]
GO
/****** Object:  Trigger [dbo].[trg_insertWorkflow]    Script Date: 17/12/2020 15:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_insertWorkflow]
   ON  [dbo].[Subir]
   AFTER Insert
AS 
BEGIN

	SET NOCOUNT ON;

DECLARE @depot as nchar(50)
DECLARE @etape as int

SELECT @depot = SUB_codeDepotLegal, @etape = SUB_numEtape from inserted

Update Medicament set MEDderniereEtape = @etape where MED_depotLegal = @depot

END
GO
ALTER TABLE [dbo].[Subir] ENABLE TRIGGER [trg_insertWorkflow]
GO
USE [master]
GO
